.skill-card-container {
  text-align: center;
  table-layout: fixed;
  display: flex;
  flex-direction: column;
  margin: 3%;
  width: min(15vw, 10rem);
  height: fit-content;
  background-color: #112240;
  border-radius: 15%;
  border: 2px solid #0a192f;
  align-items: center;
  box-shadow: 13px 13px 6px rgba(0, 0, 0, 0.2);
}

.skill-card-container:hover {
  border: 2px solid #64ffda;
}

.skill-image-container {
  display: flex;
  height: fit-content;
  justify-content: center;
  padding: 14%;
}

.skill-name {
  color: white;
  font-size: min(3vw, 1.5rem);
  padding-bottom: 10%;
}

.logo {
  margin: 5%;
  height: 90%;
  border-radius: 15%;
}

.skill-percentage-bar-container {
  width: 80%;
  height: min(3vw, 1.8rem);
  margin: 5% 0%;
  display: flex;
  justify-self: center;
  background-color: transparent;
  border-radius: 15px;
  border: 3px solid white;
}

.skill-percentage-bar-completed {
  height: 100%;
  background-color: white;
}

.skill-percentage-number {
  margin-bottom: 10%;
}

.skill-percentage-number {
  padding-top: 5%;
  color: white;
  font-size: 1.5rem;
}

.skill-icon {
  padding-top: 15%;
  color: white;
  font-size: min(15vw, 7rem);
  /* font-size: 40v */
}
