* {
  font-family: "Montserrat", sans-serif;
}

.project-card-container {
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 5%;
  height: 45%;
}

.project-card-container:first-child {
  margin-top: 0%;
}

.project-info {
  justify-self: flex-end;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.project-image-container {
  width: 40rem;
  height: fit-content;
  border-radius: 10%;
  border-style: solid;
  background-color: #64ffda;
  display: flex;
}

.project-image-container:hover {
  cursor: pointer;
  opacity: 0.9;
}

.project-info-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
}

.project-name {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: min(6vw, 2.5rem);
  font-weight: 700;
  padding-bottom: min(2vw, 2rem);
  margin-left: 2rem;
}

.project-tools {
  padding-top: min(3vw, 1.5rem);
  padding-left: min(2vw, 1rem);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: min(2.5vw, 1.4rem);
}

.project-tools:hover {
  color: #64ffda;
}

.github-link {
  margin-top: min(4vw, 2rem);
  font-size: min(6vw, 2.5rem);
  color: aquamarine;
}

.project-info-color-card {
  background-color: #112240;
  /* padding: 3rem 2rem; */
  padding: 10% 5%;
  /* margin: 0rem -5rem; */
  /* margin-right: -6rem; */
  /* margin-left: -5rem; */
  border-radius: 5%;
  box-shadow: 13px 13px 6px rgba(0, 0, 0, 0.2);
  font-size: min(3vw, 1.5rem);
  width: 100%;
}

.project-tools-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}

.github-link:hover {
  cursor: pointer;
  color: white;
}

.project-image {
  position: relative;
  width: 100%;
  border-radius: 15%;
  opacity: 0.9;
  transition: all 0.5s ease-out;
}

.project-image:hover {
  opacity: 1;
}
