.exp-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exp-title {
  margin-top: 5rem;
  padding-bottom: 2rem;
  font-size: min(9vw, 40px);
  color: #f1f2f3;
  width: min(50vw, 50rem);
  text-align: left;
}

.exp-card-container {
  margin-top: 0rem;
  display: inline-block;
  width: min(80%, 70rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-logo {
  width: 20rem;
  height: min-content;
  min-height: 5rem;
  overflow: hidden;
}

.card-image-container {
  width: 100%;
  display: flex;
  margin-bottom: 5%;
}

@media screen and (max-width: 450px) {
  .company-logo {
    display: none !important;
  }
}
