.container {
  padding-top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 10;
}

.text-container {
  padding-top: 190px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70rem;
}

.text-title {
  color: white;
  font-size: 9rem;
  transition: all 0.3s ease-out;
  /* font-family: "Syne Mono", monospace; */
}

.text-title:hover {
  transform: translate(0, -5px);
}

.role {
  color: #c5c6c7;
  font-size: 4rem;
  margin-top: 25px;
  margin-bottom: 10px;
}

.text-subtitle {
  margin-top: 3rem;
  color: #c5c6c7;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 15px;
  width: 30%;
  font-family: "Montserrat", sans-serif;
}

.green {
  color: #66fcf1;
}

.text-above-name {
  font-size: 2rem;
  text-align: left;
}
