.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 10;
}

.text-container {
  /* padding-top: 30%; */
  padding-left: 4%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70rem;
}

.text-title {
  color: white;
  font-size: min(12.5vw, 8rem);
}

.role {
  color: #c5c6c7;
  font-size: min(8.6vw, 3rem);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.text-subtitle {
  margin-top: 3rem;
  color: #c5c6c7;
  font-size: min(3.5vw, 1.8rem);
  text-align: left;
  width: 50%;
  font-family: "Montserrat", sans-serif;
}

.green {
  color: #66fcf1;
}

.text-above-name {
  font-size: min(5vw, 2rem);
  text-align: left;
}
