.container {
  padding-top: 55px;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  z-index: 10;
}

.text-container {
  padding-top: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-title {
  color: white;
  font-size: 90px;
}

.role {
  color: rgb(199, 195, 195);
  font-size: 55px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.text-subtitle {
  color: rgb(155, 153, 153);
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.Resume {
  width: 200px;
  border: 2px solid bisque;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.Resume a {
  text-decoration: none;
  font-size: 25px;
}

.Resume:hover {
  background-color: #ffffff;
  color: #ff0000;
  border-color: #ffffff;
}
