.contact {
  display: flex;
  justify-content: center;
  height: 50vh;
  margin-top: 4%;
}

.contact-container {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-above-contact {
  font-size: min(9vw, 40px);
  text-align: center;
}

.stay-connected {
  text-align: center;
  font-size: min(6vw, 35px);
  margin: 1.5%;
}

.contact-info {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: min(4vw, 1.3rem);
  width: 80%;
  text-align: center;
}

.contact-btn {
  margin-top: 5%;
  padding: 4%;
  background-color: transparent;
  color: #66fcf1;
  border: 0.2rem solid #66fcf1;
  transition: 0.5s;
}

.contact-btn:hover,
.inner-contact-button:hover {
  cursor: pointer;
  background-color: #3e928d;
}

.inner-contact-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: min(4vw, 1.3rem);
}
