.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #0a192f;
  width: 100%;
  height: 2rem;
  z-index: 999;
}

.home {
  text-align: center;
  padding-top: 0.5vh;
  margin-left: 2vw;
  font-size: min(4vw, 2rem);
  font-weight: 900;
  font-family: "Source Code Pro", sans-serif;
  cursor: pointer;
  color: #888888;
}

.home:hover {
  color: #64ffda;
}

.nav-menu {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  padding-top: 0.5vh;
  margin-right: 1vw;
}

.nav-item {
  color: white;
  font-size: min(3vw, 1.5rem);
  margin-right: min(2vw, 1rem);
  transition: 0.2s;
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: #64ffda;
  color: #64ffda;
}

.numbers {
  color: #64ffda;
}
